.App {
  /* background-color: #282c34; */
    text-align: center;
  }
.about-style {
  text-align: center;
  padding-top: 5rem;
  font-size: 1rem;
  position: relative;
  background-color: #f1f1f1;
  color: #3d3c3c;
}
.font-left {
  text-align: left;
}
.bold {
  font-weight: bold;
}
  
  .context-background {
    background-color: #dbdadad0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: #3d3c3c;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


.grey-font-color {
  color: rgba(253, 253, 253, 0.9);
}
.name-logo {
  font-size: 2.5em;
}

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(146, 142, 146, 0.4), rgba(146, 142, 146, 0.7)), url("../assets/101.png");
  background-size: cover;
  background-position: top;
  position: relative;
}









.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
}

.card__side {
  font-size: 2rem;
  height: 50rem;
  transition: all .8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background-color: #fff;
}

.card__side--back {
  transform: rotateY(180deg);
}

.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0);
}

.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../assets/nat-5.jpg");
}

.card__picture--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../assets/nat-6.jpg");
}

.card__picture--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../assets/nat-7.jpg");
}

.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}

.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

.card__details {
  padding: 3rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #777;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card__price-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}

.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}




.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  font-size: 1.8rem;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-animiated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn--white::after {
  background-color: #fff;
}

.btn--green {
  background-color: #55c57a;
  color: #fff;
}

.btn--green::after {
  background-color: #55c57a;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.8rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s;
}

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}



.u-center-text {
  text-align: center;
}
.u-margin-top-huge {
  margin-bottom: 10rem;
}